<ion-view view-title="{{'about' | translate}}">

  <ion-nav-buttons side="right">
    <button class="button button-icon ion-home" ng-click="util.linkTo('home')" >
      {{'home' | translate}}
    </button>
  </ion-nav-buttons>

  <ion-content class="padding">
    <div>
      <h2>Contact Information</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
      quam velit, vulputate eu pharetra nec, mattis ac neque. Duis
      vulputate commodo lectus, ac blandit elit tincidunt id. Sed
      rhoncus, tortor sed eleifend tristique, tortor mauris molestie
      elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit</p>
      <div class="row row-center">
        <div class="col-50 list">
          <div class="item item-thumbnail-left">
            <img src="http://icons.iconarchive.com/icons/limav/flat-gradient-social/512/email-icon.png" height="48" width="48">
            <h2>Email</h2>
            <h1>123@pace.edu</h1>
          </div>
          <div class="item item-thumbnail-left">
              <img src="https://www.facebookbrand.com/img/fb-art.jpg" height="48" width="48">
              <h2>Facebook</h2>
              <h1>www.facebook.com/appdock</h1>
          </div>
          <div class="item item-thumbnail-left">
              <img src="http://vignette2.wikia.nocookie.net/logopedia/images/6/64/GooglePlus-Logo-Official.png/revision/latest?cb=20150901182541" height="48" width="48">
              <h2>Google +</h2>
              <h1>www.google.com/appdock</h1>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
