<ion-view view-title="{{ 'apps' | translate }}">
  <ion-nav-buttons side="right">
    <button class="button" ng-click="util.linkTo('home')" >
      {{'home' | translate}}
    </button>
  </ion-nav-buttons>
  <ion-content scroll="false">

    <section class="home-container">
      <div class = "row header">

        <div class = "col text-right">
          Top 8 Apps for {{ currmonth | translate }}
        </div>
        <div class = "col"></div>
        <div class = "col"></div>

      </div>
      <div class="row icon-row">
        <div ng-repeat="app in apps.slice(0, 4)" class="col-25 text-center">
          <a href="#/tab/apps/{{app.id}}">
            <img ng-src="{{ app.logo }}" width="100%">
          </a><p>{{app.name}}</p>
        </div>
      </div>

      <div class="row icon-row">
        <div ng-repeat="app in apps.slice(4, 8)" class="col-25 text-center">
          <a href="#/tab/apps/{{app.id}}">
            <img ng-src="{{ app.logo }}" width="100%">
          </a><p>{{app.name}}</p>
        </div>
      </div>

    </section>
  </ion-content>
</ion-view>
