<ion-view view-title="{{ 'devprofile' | translate }}">
  <ion-nav-buttons side="right">
    <button class="button" ng-click="util.linkTo('home')" >
      {{'home' | translate}}
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div class="list card" ng-repeat="developer in developers">
      <a href="#/tab/developer/{{developer.id}}/profile/{{developer.id}}" class="item item-avatar">
        <img ng-src="{{developer.image}}">
        <h2>{{developer.name}}</h2>
        <p>{{developer.description}}</p>
      </a>
    </div>
  </ion-content>
</ion-view>
