<ion-view view-title="{{ 'feedback' | translate }}">
    <ion-nav-buttons side="right">
        <button class="button" ng-click="util.linkTo('home')" >
            {{'home' | translate}}
        </button>
    </ion-nav-buttons>
    <ion-content>
        <h2>Age</h2>
        <div class="button-bar padding-left padding-right">
            <a class="button padding-right">&#62;12</a>
            <a class="button padding-right">12-15</a>
            <a class="button padding-right">16-18</a>
            <a class="button padding-right">19-24</a>
            <a class="button">25+</a>
        </div>
        <h2>Gender</h2>
        <div class="button-bar">
            <a class="button">Male</a>
            <a class="button">Female</a>
            <a class="button">Other</a>
        </div>
        <h2>Profession</h2>
        <div class="button-bar">
            <a class="button">Student</a>
            <a class="button">Teacher</a>
            <a class="button">Farmer</a>
            <a class="button">Engineer</a>
            <a class="button">Financial</a>
        </div>
        <h2>Is this your first time using AppDock?</h2>
        <div class="button-bar">
            <a class="button">Yes</a>
            <a class="button">No</a>
        </div>
        <h2>How long did you spend on AppDock?</h2>
        <div class="button-bar">
            <a class="button">&#62;30 min</a>
            <a class="button">30-60 min</a>
            <a class="button">60-120 min</a>
            <a class="button">120+ min</a>
        </div>
    </ion-content>
</ion-view>
