<ion-view view-title="AppDock">
  <ion-content>
    <div class="row">
      <div class="col-20">
        <img src="./img/appdock_logo.png" width="100%">
      </div>
      <div class="col-60">
        <video controls="controls" preload="metadata" webkit-playsinline="webkit-playsinline" class="videoPlayer" width="100%">
          <source src="http://player.vimeo.com/external/85569724.sd.mp4?s=43df5df0d733011263687d20a47557e4" type="video/mp4"/>
        </video>
      </div>
      <div class="col-20 text-center">
          <img src="http://weathersticker.wunderground.com/weathersticker/cgi-bin/banner/ban/wxBanner?bannertype=wu_macwhite_both&airportcode=KJFK&language=FR" width="160" />
      </div>
    </div>

    <div class="row row-center">
      <div class="col-20 col-offset-10">
        <button class="button-clear" ng-click="changeAndGo('en')">
          <img src="./img/flag_en.svg" width="100%">English</button>
      </div>
      <div class="col-20 col-offset-10">
        <button class="button-clear" ng-click="changeAndGo('wo')">
          <img src="./img/flag_wo.svg" width="100%">Wolof</button>
      </div>
      <div class="col-20 col-offset-10">
        <button class="button-clear" ng-click="changeAndGo('fr')">
          <img src="./img/flag_fr.svg" width="100%">Français</button>
      </div>
    </div>
  </ion-content>
</ion-view>

